<% self.class.send(:include, ApplicationHelper) -%>
<% custom_field_values = @issue.editable_custom_field_values %>
<% if custom_field_values.present? %>
  <% allocation_columns(custom_field_values).each do |columns_by_type| %>
    <% columns_by_type.each do |key, custom_field_values| %>
      <% if key == "2" %>
        <div class="splitcontent">
          <div class="splitcontentleft">
            <% split_on = (custom_field_values.size / 2.0).ceil - 1 %>
            <% custom_field_values.each_with_index do |value, idx| %>
              <p><%= custom_field_tag_with_label :issue, value, required: @issue.required_attribute?(value.custom_field_id) %></p>
              <% if idx == split_on -%>
                </div><div class="splitcontentright">
              <% end -%>
            <% end -%>
          </div>
        </div>
      <% elsif key == "1" %>
        <% custom_field_values.each do |value| %>
          <p><%= custom_field_tag_with_label :issue, value, required: @issue.required_attribute?(value.custom_field_id) %></p>
        <% end -%>
      <% end -%>
    <% end -%>
  <% end -%>
<% end %>
